<template>
  <div id="purchase">
    <div class="purchase__title-wrapper">
      <h2 class="purchase__title">二步驟 <br> 打造專屬殼</h2>
    </div>
    <!-- 手機殼顯示區 -->
    <div class="display__area">
      <section class="purchase__preview" v-if="currentSelect !== null">
        <div class="purchase__preview-images-wrapper">
          <img :src="currentSelect.phoneColor.image" alt="" class="purchase__preview-image main">
          <img :src="currentSelect.border.image" alt="" class="purchase__preview-image sub case">
          <img :src="currentSelect.rim.image" alt="" class="purchase__preview-image sub rim"
          :class="{ 'purchase__preview-image--backward': isStandardState }">
          <img :src="currentSelect.button.image" alt="" class="purchase__preview-image sub button">
          <img :src="currentSelect.backplate.image" alt="" class="purchase__preview-image sub"
          :class="{ 'backplate': isStandardState,'purchase__preview-image--backward': !isStandardState }">
        </div>
          <div class="purchase__selector-wrapper phone">
            <div class="color-container">
              <p class="color-picker-title">裝置<br>顏色</p>
              <div class="normal color-picker color-picker--vertical">
                <div
                  v-for="variant in product[currentSelectDevice].phoneColor.variants"
                  :key="variant.title"
                  class="color-picker__option"
                  :class="{ active: variant.title === currentSelect.phoneColor.title }"
                  @click="phoneColorClickHandler(variant)"
                >
                  <div
                    class="dot"
                    :class="variant.title.replace(' ', '').split(/(?=[A-Z])/).join('_').toLowerCase()"
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="purchase__backplate-switch-wrapper">
            <div class="backplate-switch light">
              <section class="backplate-switch__common">
                <div class="backplate-switch__option" @click="isStandardState = true">
                  <div class="backplate-switch__checkbox" :class="{ 'backplate-switch__checkbox--active': isStandardState }">
                    <div class="dot"></div>
                  </div>
                  <p class="backplate-switch__mode-name">背板模式</p>
                </div>
                <div class="backplate-switch__option" @click="isStandardState = false">
                  <div class="backplate-switch__checkbox" :class="{ 'backplate-switch__checkbox--active': !isStandardState }">
                    <div class="dot"></div>
                  </div>
                  <p class="backplate-switch__mode-name">邊框模式</p>
                </div>
              </section>
            </div>
          </div>
      </section>
    </div>
    <!-- 型號/顏色顯示區 -->
    <div class="selection__area" v-if="currentSelect !== null">
      <div class="selection__area__top">
        <div class="device__selector">
          <select name="" id="device" @change="deviceOnchangeHandler($event)" class="rh-select__select">
            <option disabled="disabled">請選擇型號</option>
            <option v-for="device in devices" :key="device.value" :value="device.value">{{ device.text }}</option>
          </select>
        </div>

        <div class="outward">
          <div class="option__block">
            <div class="option__title" @click="isChoosingCaseColor = !isChoosingCaseColor">
              <p>手機殼顏色</p>
              <div class="plus" :class="{ 'minus': isChoosingCaseColor }"></div>
            </div>
            <div class="color-container" v-if="isChoosingCaseColor">
              <div class="normal color-picker color-picker--horizontal">
                <div
                  v-for="variant in product[currentSelectDevice].border.variants"
                  :key="variant.optionsWithKey.Color"
                  class="color-picker__option color-picker__option__horizontal"
                  :class="{ active: variant.optionsWithKey.Color === currentSelect.border.optionsWithKey.Color }"
                  @click="borderColorClickHandler(variant)"
                >
                  <div
                    class="dot"
                    :class="variant.optionsWithKey.Color.match(/[a-zA-Z]+/g).join('_').toLowerCase()"
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="option__block">
            <div class="option__title" @click="isChoosingBackplateStyle = !isChoosingBackplateStyle">
              <p>背板樣式</p>
              <div class="plus" :class="{ 'minus': isChoosingBackplateStyle }"></div>
            </div>
            <div class="backplate-container" v-if="isChoosingBackplateStyle">
              <div class="arrow-left" @click="arrowClickHandler(-1)"> &#9668; </div>
              <div class="arrow-right" @click="arrowClickHandler(1)"> &#9658; </div>
              <div class="backplate-container__slider">
                <div class="backplate-container__slider__container">
                  <div
                    v-for="variant in product[currentSelectDevice].backplate.variants"
                    :key="variant.optionsWithKey.title"
                    class="backplate"
                    :class="{ active: variant.title === currentSelect.backplate.title }"
                    @click="backplateClickHandler(variant)"
                  >
                    <div class="backplate__img__wrapper">
                      <img :src="variant.image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="checkout">
        <div class="checkout__detail">
          <p class="checkout__detail__info">產品包含:</p>
          <p class="checkout__detail__info">手機殼外框 ({{ this.currentSelect.border.optionsWithKey.Color }}) x 1</p>
          <p class="checkout__detail__info">背板 ({{ this.currentSelect.backplate.title }}) x 1</p>
        </div>
        <div class="checkout__button__block">
          <button class="checkout__btn" @click="addToCart">加入購物車</button>
          <p class="price">$ {{ parseFloat(this.currentSelect.border.price) + parseFloat(this.currentSelect.backplate.price) }} TWD</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
  },
  data () {
    return {
      cartItems: [],
      product: {},
      devices: [],
      currentSelectDevice: null,
      isStandardState: true,
      isChoosingCaseColor: false,
      isChoosingBackplateStyle: false,

      backplateSliderIndex: 0,
      currentSelect: null
    }
  },
  computed: {

  },
  created () {
    this.fetchProductData()
  },
  watch: {
    currentSelectDevice: function (newValue) {
      this.currentSelect = {
        backplate: this.product[newValue].backplate.variants[0],
        border: this.product[newValue].border.variants[0],
        button: this.product[newValue].button.variants[0],
        phoneColor: this.product[newValue].phoneColor.variants[0],
        rim: this.product[newValue].rim.variants[0],
        transparentBackplate: null
      }
    }
  },
  methods: {
    fetchProductData () {
      // TODO
      // Call API 抓取產品資料並依產品類型分類。
      // API URL : http://localhost:3000/mod-nx
      fetch('http://localhost:3000/mod-nx', {}).then((response) => {
        return response.json()
      }).then(async (jsonData) => {
        [this.devices, this.product] = await this.sortProductData(jsonData.data)
        this.currentSelectDevice = this.devices[0].value

        this.currentSelect = {
          backplate: this.product[this.currentSelectDevice].backplate.variants[0],
          border: this.product[this.currentSelectDevice].border.variants[0],
          button: this.product[this.currentSelectDevice].button.variants[0],
          phoneColor: this.product[this.currentSelectDevice].phoneColor.variants[0],
          rim: this.product[this.currentSelectDevice].rim.variants[0],
          transparentBackplate: null
        }
      }).catch((err) => {
        console.error('Fetch product data error: ', err)
      })
    },

    sortProductData (fetchData) {
      return new Promise(resolve => {
        const typeTitleKeyword = ['(背板)', '(外框)', '(按鈕)', '(按鍵)', '(手機)', '(飾條)', '透明背板']
        const sortTypeKeyword = ['backplate', 'border', 'button', 'button', 'phoneColor', 'rim', 'transparentBackplate']
        let productData = {}
        const regexp = /iPhone( \w+)+/
        fetchData.forEach((product) => {
          let productKey = null
          typeTitleKeyword.forEach((keyword, index) => {
            if (product.title.indexOf(keyword) !== -1) {
              productKey = sortTypeKeyword[index]
            }
          })

          const productDevice = product.title.match(regexp)[0]
          if (productData[productDevice] === undefined) productData[productDevice] = {}
          productData[productDevice][productKey] = product
        })

        const devices = Object.keys(productData).map(device => {
          return { text: device, value: device.split(' ').join('-').toLowerCase() }
        })

        // update product key name
        // example iPhone 12 will change to iphone-12
        productData = Object.fromEntries(
          Object.entries(productData).map(([key, value]) => [key.split(' ').join('-').toLowerCase(), value])
        )

        resolve([devices, productData])
      })
    },

    deviceOnchangeHandler (event) {
      this.currentSelectDevice = event.target.value
    },

    borderColorClickHandler (data) {
      this.currentSelect.border = data
    },

    backplateClickHandler (data) {
      this.currentSelect.backplate = data
    },

    phoneColorClickHandler (data) {
      this.currentSelect.phoneColor = data
    },

    arrowClickHandler (direction) {
      const slideContainer = this.$el.querySelector('.backplate-container__slider__container')
      if (
        this.backplateSliderIndex + direction >= 0 &&
        this.backplateSliderIndex + direction < this.product[this.currentSelectDevice].backplate.variants.length
      ) {
        this.backplateSliderIndex += direction
        slideContainer.style.transform = `translate3d(${this.backplateSliderIndex * -72}px, 0, 0)`
      }
    },

    addToCart () {
      // TODO
      // 把選取的產品加到 cartItems 裡面並 console 出來
      this.cartItems.push(this.currentSelect.backplate)
      this.cartItems.push(this.currentSelect.border)

      console.log(this.cartItems)
    }
  }
}
</script>

<style lang="sass" scoped>
@font-face
  font-family: MarkPro-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro-Bold.otf?12401685184872946130')

@font-face
  font-family: NotoSansCJKtc-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Bold.otf?12610878586689504297')

@font-face
  font-family: MarkPro
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro.otf?4269257120200746974')

@font-face
    font-family: NotoSansCJKtc-Regular
    src: url(https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Regular.otf?4935245772218057441)

#purchase
  position: relative
  width: 100%
  height: 100%
  max-width: 1440px
  display: flex
  padding: 120px 60px
  align-items: flex-start
  justify-content: space-between
  box-sizing: border-box

.purchase__title-wrapper
  width: 25%
  max-width: 220px

.display__area
  height: 100%

.selection__area
  display: flex
  flex-direction: column
  justify-content: space-between
  align-self: stretch
  margin-left: 70px
  width: 35%
  max-width: 260px

  .device__selector
    margin-bottom: 25px

  .rh-select__select
    width: 100%
    min-width: 260px
    height: 40px
    padding: 0 20px

  .checkout

    &__detail
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'

      &__info
        margin: 15px 0
        padding: 0
        line-height: 14px
        font-size: 14px
        text-align: left

    &__button__block
      display: flex
      justify-content: space-between
      align-items: center
      font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'

      .price
        font-size: 14px
        text-algin: right

    &__btn
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 40px
      max-width: 180px
      color: #FFF
      // font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'
      box-shadow: none
      border: none
      border-radius: 20.5px
      background-color: #2D2D2D
      transition: all .3s ease
      white-space: inherit

  .outward
    border-top: 2px solid #D8D8D8
    min-width: 260px

  .option__block
    padding: 20px 0
    border-bottom: 1px solid #D8D8D8
    transition: all .3s ease

    .backplate-container
      position: relative
      width: 100%
      margin: 15px auto 0
      z-index: 3

      .arrow-left
        position: absolute
        width: 12px
        height: 12px
        top: 50%
        left: 0
        transform: translateY(-50%)
        z-index: 5
        cursor: pointer
        opacity: .6
        transition: opacity .3s ease

        &:hover
          opacity: 1

      .arrow-right
        position: absolute
        width: 12px
        height: 12px
        top: 50%
        right: 0
        transform: translateY(-50%)
        cursor: pointer
        opacity: .6
        transition: opacity .3s ease

        &:hover
          opacity: 1

      &__slider
        width: 83%
        height: 100%
        overflow: hidden
        position: relative
        margin: 0 auto

        &__container
          width: 35000px
          padding: 10px 0
          transform: translate3d(0, 0, 0)
          transition: all .3s ease

          .backplate
            width: 60px
            height: 60px
            background-color: #fff
            border-radius: 5px
            margin: 0 5px
            float: left
            cursor: pointer

            &__img__wrapper
              width: 100%
              height: 100%
              display: flex
              justify-content: center
              align-items: center

              img
                width: 100%
                height: auto
          .active
            border: 2px solid #000

    .option__title
      position: relative
      display: flex
      justify-content: flex-start
      align-items: center
      cursor: pointer

      p
        padding: 0
        margin: 0
        font-size: 14px
        font-family: 'MarkPro', 'NotoSansCJKtc-Regular'
        color: #2D2D2D

      .plus
        position: absolute
        right: 0
        top: 50%
        width: 16px
        height: 16px
        transform: translateY(-50%)

        &::before
          content: ''
          position: absolute
          left: 0
          width: 1px
          height: 16px
          background-color: #D8D8D8
          transform: rotate(90deg)
          transition: all .3s ease

        &::after
          content: ''
          position: absolute
          left: 0
          width: 1px
          height: 16px
          background-color: #D8D8D8
          transition: all .3s ease

      .minus
        &::after
          transform: rotate(90deg)

    .color_block
      margin-top: 15px
      display: flex
      justify-content: flow-start

.purchase__preview
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 650px
  height: 100%
  &-images-wrapper
    position: relative
    height: 80%
  &-image
    transition: all .3s
    &.main
      position: relative
      height: 100%
      z-index: 2
    &.sub
      position: absolute
      height: 100%
      top: 0
      left: 0
    &--backward
      z-index: 1
      transform: translate(12%,-10%)
    &.case
      z-index: 3
    &.backplate
      z-index: 2

.purchase__selector-wrapper
  &.phone
    position: absolute
    top: 50%
    left: 25%
    transform: translateY(-50%)
    z-index: 3

.purchase__backplate-switch-wrapper
  position: absolute
  top: 50px
  right: 0
  z-index: 3

  .backplate-switch
    &__common
    &__option
      display: flex
      align-items: center
      margin-bottom: 20px
      cursor: pointer
    &__checkbox
      display: flex
      justify-content: center
      align-items: center
      width: 28px
      height: 28px
      margin-bottom: 2px
      border: none
      border-radius: 50%
      transition: all .3s ease
      &:hover
        border: 1px solid #2d2d2d
        .dot
          background-color: #2d2d2d
      .dot
        width: 12px
        height: 12px
        border-radius: 50%
        background-color: #f7f7f7
        border: 1px solid #2d2d2d
        transition: all .3s ease
      &--active
        border: 1px solid #2d2d2d
        .dot
          background-color: #2d2d2d
    &__mode
      &-name
        margin-left: 10px

.purchase__selector-wrapper
  &.phone
    position: absolute
    top: 50%
    left: 25%
    transform: translateY(-50%)
    z-index: 3

.purchase__backplate-switch-wrapper
  position: absolute
  top: 50px
  right: 0
  z-index: 3

.color-picker-title
  position: absolute
  top: 0
  right: 0
  margin: 0
  font-size: 12px
  color: #000
  line-height: normal
  text-transform: uppercase
  transform: translateY(-120%)
  opacity: .2

.color-picker
  display: flex
  align-items: center
  justify-content: flex-start
  --desc-text-width: 150px
  --desc-dash-width: 16px
  --desc-dash-margin: 13px

  &.normal
    --border-color: #d5d5d5
    --hover-border: #d5d5d5
    --dash-color: #d8d8d8
    --font-color: #2d2d2d

  &__option
    position: relative
    width: 29px
    height: 29px
    border: 1px solid transparent
    border-radius: 50%
    z-index: 200
    transition: all .3s ease
    margin-bottom: 18px
    display: flex
    align-items: center
    justify-content: center

    &__horizontal
      margin-right: 18px

    &:hover
      border: 1px solid var(--hover-border)
    .active, .dot
      width: 23px
      height: 23px
    .dot
      border: 1px solid var(--border-color)
      border-radius: 50%
      cursor: pointer
  .active
    border: 1px solid #383636

  &--vertical
    flex-direction: column
  &--horizontal
    flex-direction: row
    flex-wrap: wrap
    margin-top: 20px

.apple_graphite
  background-color: #686763

.silver
  background-color: #c9c8c9

.gold
  background-color: #fadcc2

.pacific_blue
  background-color: #43616c

.black
  background-color: #383636

.white
  background-color: #fff

.green
  background-color: #60b287

.red
  background-color: #f44336

.blue
  background-color: #2196f3

.yellow
  background-color: #ffe568

.apple_red
  background-color: #a6282c

.apple_green
  background-color: #aee1cd

.apple_purple
  background-color: #d1cae1

.midnight_green
  background-color: #6d7971

.coral
  background-color: #ff6e5a

.rose_gold
  background-color: #fad6d3

.space_gray
  background-color: #575c5c

.jet_black
  background-color: black

.graphite
  background-color: #4f4f47

.blush_pink
  background-color: #f2d1cb

.royal_blue
  background-color: #255774

.camo_green
  background-color: #505e31

.platinum_gray
  background-color: #afb4b0

.lavender
  background-color: #9390a7

.navy_blue
  background-color: #385672

.mint_green
  background-color: #c3edc7

</style>
